<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transport.taxi.bus.taxis">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->


    <application
        android:name=".TaxisBY"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_rus_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AnimationActivity"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.firstStart.FirstStartMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".settings.FirstStartSearchDirect" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".halt.HaltActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".info.InfoActivity" />
        <activity android:name=".about.AboutActivity" />
        <activity android:name=".searchDirect.SearchDirectActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f559af597fd052613166d2fcb3d9f7bc7e2e7ea8" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".maps.MapsActivity"
            android:label="@string/title_activity_maps"/>
    </application>

</manifest>